
.client-section {
  text-align: center;
  padding: 50px 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 4%;
}

.client-section h2 {
  margin-bottom: 40px;
  font-size: 28px;
  color: #333;
}

.client-card {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  width: 320px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.client-card::before {
  content: '';
  position: absolute;
  top: -75px;
  left: -75px;
  width: 150px;
  height: 150px;
  background-color: #007bff; /* Accent color */
  border-radius: 50%;
  opacity: 0.2;
  transition: all 0.4s ease-in-out;
}

.client-card:hover::before {
  top: -100px;
  left: -100px;
  opacity: 0.4;
}

.client-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.client-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 15px;
}

.client-feedback {
  text-align: center;
  transition: transform 0.3s ease;
}

.client-feedback h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}

.client-feedback p {
  font-size: 14px;
  color: #777;
}

.client-card:hover .client-feedback {
  transform: scale(1.05); /* Slight zoom on hover */
}

.client-feedback-icon {
  font-size: 40px;
  color: #007bff;
  margin-bottom: 10px;
}
